#display-link{
    display: block;
    text-align: center;
    padding:var(--horizontal-padding);
    background-color: #fafafa;
    font-size: 18px;
    color:gray;
    margin-bottom: 10px;
    margin-top:-20px;
}

#display-link i{
    color:rgba(0,0,0,0.4);
}

.friend-screen{
    padding:0px var(--horizontal-padding);
}

.friend-screen-channel{
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);   
    padding-top:15px;
}
.friend-screen-channel__header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
    font-weight: 500;
    color:rgba(0, 0, 0, 0.4)
}

#splash-screen{
    position: absolute;
    top:0;
    width: 100vw; height: 100vh;
    background-color: rgba(255, 255, 0,0.98);
    display: flex;
    justify-content: center; align-items: center;
    font-size: 60px;
    z-index: 90;
    animation: hide-sp 0.4s linear forwards;
    animation-delay: 0.5s;
}

@keyframes hide-sp{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}